/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
  padding-right: 2;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  padding-bottom: 10px;
  align-items: stretch;
}

/* ---  Groups & Items --- */



.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  display: flex;
  flex-direction: column;
  width:100%;
  background-color: #ff385c;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
}

#menu {
  padding: 0;
  margin-right: 0px;
  justify-content: center;
  text-align: center;
}


.logo {
  display: flex;
  font-family: "Pangolin", cursive;
  font-size: xx-large;
  /* font-size: 72px; */
  color: #fff;
  max-width: 95%;
  justify-content: center;
  height:100%;
  text-align: center;
  padding: 5px 20px 5px 20px
  }


header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  text-align: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display:flex;
  flex-direction: column;
  width:90%;
  align-self:center;
  justify-content: center;
}

#form{
  display: flex;
  margin: 10px;
  justify-content: center;
  /* margin-right: 25px; */
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

.input {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
#small-form{
  max-width: 75%;
}

form button {
  display: flex;
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  margin: 7px;
  width: 95%;
 justify-content: center;
 justify-self: center;
}



/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width:480px) {

  h2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 35px;
  } 

  main img {
    flex: 1;
    width: 25%;
  }

  section {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .column {
    flex-direction: column;
  }


  /* -----Host----- */
  .host-class {
    flex-shrink: 4;
  }

  .host-image {
    display: flex;
    flex-basis:50%;
    /* flex-shrink: 3; */
    /* width: 50%; */
    /* height: 100%; */
    align-self: center
  }

  /* -----Ideas-----*/

  .half-page-pic {
    flex-direction: row;
    width: 100%;
  }

  .image-class {
    flex-direction: column;
    flex-basis: 50%
  }
  


  /* -----Header----- */
  header {
    display:flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    padding: 10px
  }

  .logo {
    display: flex;
    font-size: 50px;
    margin:0;
    padding: 20px 5px 20px 15px
  }

  nav {
    display: flex;
    justify-content: flex-end;
    width:fit-content;
    margin: 0;
    padding:0
  }

  #menu {
    display: flex;
    align-items:flex-end;
    width: fit-content;
    padding: 0;
    justify-content: flex-end;
  }

  /* -----Stay section & form----- */

  .input {
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 10%;
    margin: 5px;
  }

  .center-form {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-shrink:2;
    gap: 10px;
  }

  #stay {
    display: flex;
    width: 95%;
    margin-right: 20px;
  }

#small-form{
  width: 75%
}

  #form {
    display: flex;
    width: 95%;
  }


  button {
    display: flex;
    flex:1;
    width: 75%
  }

  #about-img {
    width:25%;
    height:25%
  }

  #about-p{
    width:50%
  }
  /* #stay {
    display: flex;
    flex-wrap: wrap;
  } */
}